/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/*start of grafted code
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #fff;
}*/


@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #233140;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}



.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

/*.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}
/*end of grafted code*/
body 
{
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#body
{
    margin: 0px;
    padding: 0px;
}
#top 
{
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://i24.photobucket.com/albums/c16/Ashley_Li/15823-vintage-library-1920x1200-photography-wallpaper_zpso6abdgfw.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline 
{
    padding: 130px 0;
}

.headline h1 
{
    color: #FFFFFF;
    font-size: 200px;
    background: #fff;
    background: rgba(255,255,255,0);
}

.headline h2 
{
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

#nav1
{
    padding: 0px;
    background-color: #000;
}
#nav{
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    font-size: 30px;
    color: #FFFFFF;

}

#productivity
{
    display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('http://4.bp.blogspot.com/-W6dtzBoeVxc/VN88Y_DQM7I/AAAAAAAAAtA/kP9kuDjb_Ts/s1600/IMG_0704.png') no-repeat center center scroll;
}



#prodheader
{
    font-size: 180px;
    color: #FFFFFF;
    
}

#costlistCT
{
    font-size: 30px;
}

#costlistEN
{
    font-size: 30px;
    display:table; margin:20 auto;
}

#costlistSF
{
    font-size: 30px;
}

#SP
{
    display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('http://america.aljazeera.com/content/dam/ajam/images/articles/SAT.jpg') no-repeat center center scroll;
}

#SPH1
{
    font-size: 180px;
    color: #FFFFFF;
}

#ACTPrep
{
    display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('http://rangeviewraiders.info/wp-content/uploads/2015/04/DSC_1105.jpg') no-repeat center center scroll;
}

#ACTPrepH1
{
    font-size: 180px;
    color: #FFFFFF;
}

#Scholar
{
    display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('http://clas.wayne.edu/Multimedia/DUSP/Images/Media/1029.jpg') no-repeat center center scroll;
}
#ScholarH1
{
    font-size: 170px;
    color: #FFFFFF;
}

#contact
{
    margin: 10px;
    padding: 10px;
}

.featurette-divider {
    margin: 50px 0;
}

.featurette 
{
    overflow: hidden;
    margin: 15px;
    padding: 15px;

}

.featurette-image.pull-left 
{
    margin-right: 40px;
}

.featurette-image.pull-right 
{
    margin-left: 40px;
}

.featurette-heading 
{
    font-size: 50px;
}


@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

footer
{
    margin: 15px;
    padding: 15px;
}