/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #fff;
}*/
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #233140;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
#cancel
{
    margin-left: 75px;
}

#cancel2
{
    margin-left: 440px;
    margin-top: -20px;
}

#cancel3
{
    margin-left: 440px;
    margin-top: -10px;
}


body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

    .header-image {
        display: block;
        width: 100%;
        text-align: center;
        background: url('https://www.sonoma.edu/it/images/scantron.jpg') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .headline {
        padding: 120px 0;
    }

    .headline h1 {
        font-size: 120px;
        color: #000000;
        /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
        /*background: #fff; */
        /*background: rgba(255,255,255,0.9); */
    }

    .headline h2 {
        font-size: 50px;
        /* background: #fff;
        background: rgba(255,255,255,0.9); */
    } 

    .featurette-divider {
        margin: 80px 0;
    }

    .featurette {
        overflow: hidden;
    }

    .featurette-image.pull-left {
        height: auto;
        width: 100px
        margin-right: 60px;
    }

    .featurette-image.pull-right {
        margin-left: 40px;
        width: 500px;
        height: auto;
    }

    .featurette-heading {
        font-size: 50px;
        padding-bottom: 5px;
    }

    .featurette-image1.pull-right{
        margin-left: 20px;
        margin-bottom: 10px;
        width: 700px;
        height: 400px;
    }

    .circle2{
        text-align: left;
    }

    .featurette-image1.pull-left{
        margin-right: 60px;
        margin-left: 10px;
        margin-bottom: 30px;
        width: 350px;
        height: 300px;
    }

    .featurette-image2.pull-right{
        margin-left: 80px;
        margin-bottom: 10px;
        width: 700px;
        height: 500px;
    }

    .featurette-image2.pull-left{
        margin-right: 70px;
        margin-left: 7px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 350px;
        height: 300px;
    }

    .featurette-image3.pull-right{
        margin-left: 20px;
        margin-bottom: 10px;
        width: 500px;
        height: 400px;
    }

    .featurette-image3.pull-left{
        margin-right: 80px;
        margin-bottom: 30px;
        width: 300px;
        height: 300px;
    }

    .featurette-image1{
        margin-right: 60px;
        margin-left: 110px;
        margin-top: 30px;
        width: 900px;
        height: 800px;
    }

    .featurette-image2{
        margin-right: 60px;
        margin-left: 110px;
        margin-bottom: 30px;
        width: 900px;
        height: 800px;
    }

footer {
    margin: 70px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 73px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
        width: 700px;
        height: auto;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
        width: 700px;
        height: auto;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
        margin-bottom: 0 20px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0px
        ;
    }
}



li{
    font-size:20px;
}


.circle{
    font-size:70px;
    padding-left: 50px; 
}

.circle3{
    margin-right: 50px;
    margin-left: 100px;
    /* margin-top: 10px;
    margin-bottom: 30px; */
    font-size:70px;
    padding-left: 50px;
}

.disc{
    font-size: 40px;
}

.lead{
    font-size: 24px;
}

.lead1{
    font-size: 25px;
}

.lead2{
    font-size: 16px;
    font-style: italic;
    color: #808080;
    margin-left: 10px;
}

.lead3{
    margin-left: 40px;
    font-size: 20px;
}

.list1 {
        margin-left: 400px;
    }

.lead4{
    font-size: 25px;
}

.square{
    padding-left: 140px;
}


/* .featurette-image.pull-center{
    something
} */


/*.lead5{
    line-height: 2000%;
    font-size: 200px;
} */

.lead6{
    margin-right: 60px;
    margin-left: 110px;
    font-size: 16px;
    font-style: italic;
    color: #808080;
}


.lead7{
    margin-left: 80px;
    margin-bottom: 10px;
    font-size: 16px;
    font-style: italic;
    color: #808080;
}




